extends layout

block content
  div
    p click a link below to see the leds and their respective status

  div
    thead
      tr
        th Led
    tbody
      tr
        td a(href='/leds') all leds
      tr
        td a(href='/leds/red') Red led
      tr
        td a(href='/leds/green') Green led
      tr
        td a(href='/leds/blue') Blue led
