extends layout

block content
  h1= title
  p Welcome to the #{title}

  div
    table
      thead
        tr: th LED th status
      tbody
          tr
            td
              a(href='/javascript/redled.js') RED
            td
              img red_led_0.png
          tr
            td
              a(href='/javascript/greenled.js') GREEN
            td
              img green_led_0.png
          tr
            td
              a(href='/javascript/blueled.js') BLUE
            td
              img blue_led_0.png
