header {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f0f0f5;
  background-color: #52527a;
  width: 90%;
  position: absolute;
}

body {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3d3d5c;
  background-color: #f0f0f5;
  height: 90%;
}

content {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3d3d5c;
  background-color: #f0f0f5;
}

a {
  color: #0086b3;
}

footer {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #33334d;
  background-color: #e0e0eb;
  width: 90%;
  height: 60px;
  position: absolute;
  bottom: 0;
  align-content: center;
}
